<div class="row mt-2  justify-content-center">
    <div class="h3 ">Wykonane zadania {{tasksDone.length}}</div>
  </div>
<div class="row">
    <ul class="list-group">
        <li appChecked appDate [date]="task.end" class="list-group-item d-flex justify-content-between align-items-center mt-1" *ngFor="let task of tasksDone">
          <div class="image-parent">
              <img src="../../../assets/done.svg" class="img-fluid" alt="quixote">
            </div>
            <a class="text-left"> {{task.name | transformTask: ' - super'}}</a>
        </li>
      </ul>
</div>


