<div class="row  mt-2">
    <!-- <div class="col"></div> -->
  <div class="col">
    <form [formGroup]="addForm" (ngSubmit)=(add())>
      <div class="form-group row">
        <div formArrayName="taskName">
          <div *ngFor="let task of addForm.get('taskName')['controls']; let i = index">
            <input class="form-control mt-1" type="text" [formControlName]="i" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
            <div class="btn-group" role="group">
                <button type="submit" [disabled]="addForm.invalid" class="btn btn-dark mb-2">Dodaj</button>
                <button type="button" (click)="addField()" class="btn btn-dark mb-2">Dodaj więcej</button>
            </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="col"></div> -->
</div>
