<div class="row justify-content-md-center">
  <div>
    <div class="form-inline">
        <div class="form-group mb-2">
            <form [formGroup]="addForm" (ngSubmit)=(add())>
              <div formArrayName="taskName">
                <div *ngFor="let task of addForm.get('taskName')['controls']; let i = index">
                    <input type="text" [formControlName]="i"/>
                </div>
              </div>
              <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary mb-2">Dodaj</button>
              <button type="button" (click)="addField()">Dodaj więcej</button>
            </form>
        </div>
        <!-- <button type="submit" class="btn btn-primary mb-2"  (click)="add()">Dodaj</button> -->
      </div>
  </div>
</div>
