<div class="row mt-2  justify-content-center">
  <div class="h3 ">Dodaj zadania do wykonania</div>
</div>
<app-add-task></app-add-task>
<div class="row">
  <ng-container *ngIf="tasksList.length>0;else noTask">
    <ul class="list-group">
      <li appDate [date]="task.create" class="list-group-item" *ngFor="let task of tasksList | sortName; let odd = odd"
        class="list-group-item d-flex justify-content-between align-items-center mt-1">
        <div class="image-parent">
          <img src="../../../assets/questionmark.svg" class="img-fluid" alt="quixote">
        </div>
        <a class="text-left"> {{task.name | transformTask:'!'}}</a>
        <div class="btn-group btn-group-sm pull-right" role="group">
          <button class="btn btn-secondary" (click)="remove(task)">Usuń</button>
          <button class="btn btn-secondary" (click)="done(task)">Zrobione</button>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #noTask>
    Wszystkie zadania wykonane
  </ng-template>
</div>
<div class="row mt-2">
  <button type="button" class="btn btn-dark btn-lg btn-block" (click)="save()">Zapisz listę</button>
</div>
